# ------------------- Standard Exclusions -------------------
.vscode/**
.vscode-test/**
node_modules/**
.gitignore
tsconfig.json
*.vsix
update-readme.js
*.log
.github/**
CONTRIBUTING*
README-zh.md
.idea/**
test/**
doc/**

# ------------------- Source code can be excluded, but keep compiled files -------------------
src/**
scripts/**
# ------------------- Ensure these files/directories are not excluded -------------------
!dist/**
!dist/extension.js
